
<div class="container text-center  ">
    <div class=" "style="">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Endreço</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor = "let student of students">
                    <th scope="row">{{student.id}}</th>
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.phone}}</td>

                    <td>
                      <button class="btn btn-secondary  me-1" (click)="edit(student)">Editar</button>
                      <button class="btn btn-danger  text-light" (click)="delete(student)">Excluir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <button class="btn btn-dark m-3" (click)="create()">Criar um novo ?</button>
  
   