
<div class="container text-center  ">
    <div class=" "style="">

        <div class="" >
        <form [formGroup]="formGroupClient">
            <div class="mb-2">
              <div class="display-6">
                Cadastro de Alunos
              </div>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="name">Nome</span>
              <input type="text"  id="name" formControlName="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          
            <div class="input-group mb-3">
              <span class="input-group-text" id="email" >Email </span>
              <input type="email"  id="email" formControlName="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="phone" >Telefone </span>
              <input type="phone" id="phone" formControlName="phone" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="address" >Endereço </span>
              <input type="text" id="address" formControlName="address" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            
              <div class="mb-3 d-flex justify-content-end">
                <button class="btn btn-primary me-2" (click)="save ()"> salvar</button>
                <button class="btn btn-primary" (click)="clean() ">Limpar</button>
              
              </div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Endreço</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor = "let student of students">
                    <th scope="row">{{student.id}}</th>
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.phone}}</td>

                    <td>
                      <button class="btn btn-primary me-1" (click)="edit(student)">Editar</button>
                      <button class="btn btn-primary" (click)="delete(student)">Excluir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </form>
        </div>
    </div>
    </div>
   